<!DOCTYPE html>
<html lang="he">

    <%- include('static/head')%>
    <%- include('static/navBar')%>

    
    <div class="container-md"></div>
    <h1>שחזור סיסמא</h1>
   
    <form action="/users/forgetPassword?_method=PUT" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="email">הכנס את המייל שלך</label>
            <input class="form-control" type="email" id="email" name="email" required>
        </div>
        <button class="btn btn-success" onclick= "return confirm('אתה בטוח שאתה רוצה לשחזר את הסיסמא ולקבל סיסמא חדשה למייל?')")>שחזר סיסמא כעת</button>

        <br><br><br>
           
    </form>
        
</div>
</body>
</html>