<!DOCTYPE html>
<html lang="he">
<%- include('static/head')%>
<%- include('static/navBar')%>
    
<a class="btn btn-success" href="/users/registar">הרשמת עובדים ומנהלים</a> 
<br>
<a class="btn btn-success" href="/users/registarClient">הרשמת לקוחות</a>

</body>
</html>