<div class="alertDoc">
    <span class="closebtnDoc" onclick="this.parentElement.style.display='none';">&times;</span>
  המערכת עובדת במצב הרצה על מנת שתוכלו להתרשם ממנה. על מנת להתחבר ניתן להקיש את הפרטים הבאים: <br>
  שם משתמש: <b> david@gmil.com </b>
  סיסמא: <b>1234</b> 
  </div>
